<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Post</title>
</head>
<body>
    <form action="/posts/create" method="POST">
        <label for="title">Title</label><br>
        <input type="text" id="title" name="title"><br>

        <label for="content">Content:</label><br>
        <input type="text" id="content" name="content"><br>

        <section>
            <div class="categories">
                <div class="category">
                    <input type="checkbox" id="1-category" name="category1" value="news" />
                    <label for="1-category">news</label>
                </div>
                <div class="category">
                    <input type="checkbox" id="2-category" name="category1" value="sport" />
                    <label for="2-category">sport</label>
                </div>
                <div class="category">
                    <input type="checkbox" id="3-category" name="category1" value="music" />
                    <label for="3-category">music</label>
                </div>
                <div class="category">
                    <input type="checkbox" id="4-category" name="category1" value="kids" />
                    <label for="4-category">kids</label>
                </div>
                <div class="category">
                    <input type="checkbox" id="5-category" name="category1" value="hobbies" />
                    <label for="5-category">hobbies</label>
                </div>
                <div class="category">
                    <input type="checkbox" id="6-category" name="category1" value="programming" />
                    <label for="6-category">programming</label>
                </div>
                <div class="category">
                    <input type="checkbox" id="7-category" name="category1" value="art" />
                    <label for="7-category">art</label>
                </div>
                <div class="category">
                    <input type="checkbox" id="8-category" name="category1" value="cooking" />
                    <label for="8-category">cooking</label>
                </div>
                <div class="category">
                    <input type="checkbox" id="9-category" name="category1" value="other" />
                    <label for="9-category">other</label>
                </div>
            </div>
        </section>
        <div class="btn">
            <button type="submit" class="button">Submit</button>
        </div>
    </form>
</body>
</html>