<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/static/auth.css" />
    <link rel="icon" href="/image/eagle.png">

    <title>Sign-up</title>
</head>
<body>

    <div class="container" id="container">
	
        <div class="form-container sign-in-container">
            <div class="homebtn">
                <div class="itemicon">
                    <svg viewBox="0 0 24 24" aria-hidden="true" class="svgicon"><g><path d="M12 1.696L.622 8.807l1.06 1.696L3 9.679V19.5C3 20.881 4.119 22 5.5 22h13c1.381 0 2.5-1.119 2.5-2.5V9.679l1.318.824 1.06-1.696L12 1.696zM12 16.5c-1.933 0-3.5-1.567-3.5-3.5s1.567-3.5 3.5-3.5 3.5 1.567 3.5 3.5-1.567 3.5-3.5 3.5z"></path></g></svg>
                </div>
                <div class="itemlabel current">
                    <a class="itemlabel" href="/">Home</a>
                </div>
            </div>
            
            <form action="/sign-up" method="POST">
                <h1>Sign up</h1>
                <input type="email" id="email" name="email" placeholder="Email"><br>
                <input type="text" id="username" name="username" placeholder="Username"> <br>
                <input type="password" id="password" name="password" placeholder="Password"><br>
                <input type="password" id="confirm" name="confirm" placeholder="Confirm password"><br>
                <div class="errinfo">
                    {{.Error}}
                </div>
                
                
                <button>Sign Up</button>
            </form>
        </div>
        <div class="overlay-container">
            <div class="overlay">
                <div class="overlay-panel overlay-left">
                    <h1>Welcome Back!</h1>
                    <p>To keep connected with us please login with your personal info</p>
                    <button class="ghost" id="signIn">Sign In</button>
                </div>
                <div class="overlay-panel overlay-right">
                    <h1>Hello, Friend!</h1>
                    <p>Do you already have account? If yes you can</p>
                    <a href="/sign-in"><button class="ghost" id="signUp" >Sign In</button></a>
                </div>
            </div>
        </div>
    </div>
    




</body>
</html>